/*Обнуляющий
*{
    padding: 0%;
    margin: 0%;
    border: 0;
}
*,*::before, *::after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}
nav, footer, header, aside{display: block;}
html, body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input, button, textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{
    padding: 0;
    border: 0;
}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{
    font-size: inherit;
    font-weight: 400; 
}*/

body{
 display: table;
   /*border: 10px;*/
   
}

.day{
    background-color: #eef8e9;
    color: #97c01e;
    padding: 10px;
    vertical-align:10px;
    padding-top: 0;
    font-size: 30px;
    font-weight: bold;
   /* сделать жирным текст*/ 
   width: 10%;
   
}

td{
     background-color: #f1eded6c;
     padding:5px;
}


table{
    margin: 10px;
    padding: 0;
    border: 5px;
    border-color: black;
    border-spacing: 2px ;
   width: 100%;

}

.time{
    width: 20%;
    text-align: center;
}

.object{
    width:70%;
    /*font-weight: bold;*/
    padding: 10px;
}



span{
    font-weight: bold;
}
